
#top_navbar{
    background-color:#D6AD60;
    
}
.welcome_section{
    height:100vh;
    display:flex;
    justify-content:center;
    background-image: url("/images/welcome_muay_thai.jpg");


}
.welcome_col-sm-12{
    display:flex;
    justify-content:center;
    color:white;
}

a:hover{
    background-color: #ffdf8f;
}

.nav-link{
    color:#010809 !important;
}
#learning_martial_arts{
    height:50vh;
    background-color:#d6ad60;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#learning_martial_arts div{
    text-align: center;
    width: 70%;
}


.learning_martial_arts_upper{
    height:5vh;
    background-color:#a27e33
}

#benefits_martial_arts{
    background-color:#d6ad60;
}
#benefits_left iframe{
    position:relative;
    height:70vh;
    width:50%
}

#benefits_right img{
    right:70%
}